@charset "UTF-8";
@font-face {
    font-family: main;
    src: url(fonts/AlfaSlabOne-Regular.ttf);
}
/*
#F23005 -- orange
#030BA6 -- blue
*/

:root {
    --blue: #3238a3;
    --orange: rgb(255, 101, 41);;
}

* {
    box-sizing: border-box;
}

.button {
    background-color: var(--orange);
    background-image: url(images/concrete.jpg);
    border: .2em solid #686868;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: main, Arial, Helvetica, sans-serif;
    margin: 5px;
}

#align-menu {
    text-align: center;
    margin: auto;
}

.button:hover {
    background-color: #ee5230;
}

header {
    background-color: var(--orange);
    width: 100%;
    height: 12em;
    border-radius: 15px 15px 0px 0px;
}

#wrap > img {
    display: block;
    margin: 0px;
    margin-bottom: 10px;
    text-align: left;
    size: 100%;
    padding: 20px 20px 20px 3%;
    float: left;
}

#wrap > p {
    margin: auto;
    margin-left: 1%;
    padding: 4% 5%;
    font-size: 5vmax;
    font-size: 5vmin;
    object-position: left;
    text-align: left;
    object-position: left;
    font-family: main, Arial, Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.37) 2px 2px;

}

#wrap {
    display: flex;
}

nav {
    display: block;
    padding: 10px;
    background-color: var(--blue);
    border-radius: 0px 0px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.274) 0px 5px;
}

a > img {
    margin: 0;
    display: block;
    float: left;
}

body {
    background-color: black;
    background-image: url(images/background.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 15px;
    padding: 2%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.404) 5px 5px;
    box-sizing: content-box;
    height: fit-content;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 255, 0.281));
}

main > img {
    display: block;
    padding: 1%;
    padding-left: 5%;
    /*float: left;*/  
    width: 50%;
    max-width: 50%;
    height: 100%;
    margin: auto;
    object-position: center;
}

main > p {
    text-indent: 20px;
}

footer {
    width: 60%;
    height: fit-content;
    margin: auto;
    background-color: var(--orange);
    padding: 1%;
    margin-top: 15px;
    border-radius: 10px 10px 10px 10px;
}

footer > p {
    margin: 0;
    margin-left: 30px;
    font-size: 1em;
}